<section id="homepage">
    <title>Snack Squid: Homepage</title>
    <link rel="stylesheet" href="/customer/css/homepage.css">

    <main class='container' id=>
        <section class='BG'></section>

        <section class='Info'>
            <a class="profile" href="/customer/profile"><i class="fas fa-user-alt"></i></a>
            <div class="icon"></div>
            <h1>Snack Squid</h1>
            <a class='login' href="/customer/login">Login</a>
            <br><br>
            <a class='signup' href="/customer/signup">Sign up</a>
            <br>
            <a class='findvan' href="/customer/choose-van">Find a nearby van <i class="fas fa-map-marked-alt"></i> </a>
        </section>

    </main>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/customer/js/homepage.js"></script>

</section>